.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5rem;

  .heading-primary--main {
    font-size: 3.8rem;
    display: block;
    letter-spacing: 3.5rem;
    /* animation-delay: 2s;
  animation-iteration-count: 2;
  
  animation: cubic-bezier(0.075, 0.82, 0.165, 1); */
    animation-name: moveInLeft;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
  }

  .heading-primary--sub {
    font-size: 1.8rem;
    display: block;
    letter-spacing: 1.12rem;
    animation: moveInRight ease-out 1.3s;
  }
}

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 1rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;

  &:hover {
    transform: skewX(20deg) skewY(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
<<<<<<< HEAD
  font-size: $default-font-size;
=======
  font-size: 1.6rem;
>>>>>>> 1aaa8a9b84d46fd529efed7d1eeb68824db1ed75
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
<<<<<<< HEAD
  font-size: $default-font-size;
=======
  font-size: 1.6rem;
>>>>>>> 1aaa8a9b84d46fd529efed7d1eeb68824db1ed75

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
